/* Styles go here */
.react-emoji-picker--container{
    position: unset;
}

.react-emoji-picker--wrapper{
    width: 360px !important;
}

.nav{
    height: 42px;
}

.modal-title{
    width: 100%;
}

.ticker{
    top: 48px !important;
}

div.ticker__element > h1{
    font-size: 1.5rem;
}